<div class="card flex">
  <p-card [style]="{ width: '400px' }" class="p-card-custom">
      <ng-template pTemplate="header">
        <div class="header-container">
          <img class="rounded-image" alt="Card" [src]="userData?.image" />
        </div>
      </ng-template>

      <div class="content">
        <h2>{{userData?.first_name + " " + userData?.last_name}}</h2>
      </div>

      <ng-template pTemplate="footer">
          <div class="flex gap-3 mt-1">
            <p-button label="Detalle" [rounded]="true" icon="pi pi-search" severity="success" />
            <p-button label="Actualizar" [rounded]="true" icon="pi pi-sync"  />
            <p-button label="Borrar" [rounded]="true" icon="pi pi-trash" severity="danger" />
          </div>
      </ng-template>
  </p-card>
</div>
