p-card{
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  padding-top: 1rem;
}

.rounded-image {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.content {
  width: auto;
  text-align: center;
}


