

.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15rem;
  padding-top: 1rem;
  margin-bottom: -1.5rem;
}

.rounded-image {
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.content {
  width: auto;
  text-align: center;
  text-wrap: wrap;
}


