<app-navbar></app-navbar>
<p-toast position="top-right" key="br" />
<div class="flex flex-column md:flex-row mt-3">
  <div class="flex-1 text-center p-4">
    <p-image class="image-detail"
    [src]="userDetail?.image"
    [previewImageSrc]="userDetail?.image"
    [alt]="userDetail?.first_name"
    width="450"
    [preview]="true" />
  </div>

  <div class="w-full md:w-1">
    <p-divider layout="vertical" styleClass="hidden md:flex" />
    <p-divider layout="horizontal" styleClass="flex md:hidden" [align]="'center'" />
  </div>

  <div class="flex-1 align-content-center ps-0">
    <h1 class="titleUser">{{userDetail?.first_name}}</h1>
    <h1 class="titleUser">{{userDetail?.last_name}}</h1>
    <span class="info"><strong>Nombre de usuario: </strong> {{userDetail?.username}}</span>
    <br>
    <span class="info"><strong>Email: </strong> {{userDetail?.email}}</span>
    <div class="flex flex-wrap gap-2 mt-5">
      <app-dialog-confirm [userInfo]="userDetail" [size]="'large'" [page]="'detail'"></app-dialog-confirm>
      <p-button class="flex-order-1" label="Actualizar" [rounded]="true" icon="pi pi-sync" size="large" (click)="updateUser(userDetail)"/>
      <p-button class="flex-order-2" label="Volver a listado" [rounded]="true" icon="pi pi-list" severity="help" size="large" [routerLink]="['/home']"/>
    </div>
  </div>
</div>
