::ng-deep .p-image img {
  border-radius: 50%;
  object-fit: cover;
}

.titleUser {
  font-size: 3rem;
  margin: 0;
}

.info {
  display: inline-block;
  margin-top: 1rem;
}

@media (max-width:923px) {
  ::ng-deep .p-image img {
    width: 100%;
    height: auto;
  }
}

@media (max-width:350px) {
  .titleUser {
    font-size: 2.5rem;
  }

  .info {
    text-wrap: wrap;
  }
}
