<app-navbar></app-navbar>


<div class="grid align-items-center justify-content-center mx-auto mt-3">

  @if (loading) {
    <app-skeleton-progress></app-skeleton-progress>
  } @else {

    @for (user of users; track user._id) {
      <div class="flipup animation-duration-1000 flex-shrink-1 flex-basis-0 p-2">
        <div class="col-12 md:col-6 lg:col-4 xl:col-3">
          <app-user-card [userData]="user"></app-user-card>
        </div>
      </div>
    } @empty {
      <div class="col">
        <p-card [style]="{ width: '360px' }" class="flex align-items-center justify-content-center">
          <ng-template pTemplate="header">
              <img alt="Not found" src="not-found.jpg" />
          </ng-template>

          <div class="container flex align-items-center justify-content-center">
            <div class="content">
              <h1>No hay registros</h1>
              <span class="text-lg">Lo sentimos, no hay registros que mostrar.</span>
            </div>
        </div>

        </p-card>
      </div>
    }
    
  }
</div>

@if(users !== null) {
  <div class="card flex justify-content-center">
    <p-paginator
        (onPageChange)="onPageChange($event)"
        [first]="first"
        [rows]="rows"
        [totalRecords]="this.pagination?.total"
        [showCurrentPageReport]="true"
        [showPageLinks]="false"
        [showJumpToPageDropdown]="false"
        currentPageReportTemplate="Mostrando {first} - {last} de {totalRecords}" />
  </div>
}



