/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";

.p-card {
  background-color: rgba(110, 166, 240, 0.363);
  height: 27rem;
}

.p-card-content {
  margin: 0;
  padding: 0;
}

.p-menubar .p-menubar-custom, .p-menubar .p-menubar-end {
  margin-left: 0;
}

p-menubarsub {
  margin-left: auto;
}


@media (max-width:450px) {
  .p-card {
    width: 100%;
  }

  .p-card .footer {
    flex-direction: column;
  }
}
